<%= form_for(zombie) do |f| %>
  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
<div class="row">
<form >
 <div class="col-xl-6">
  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name ,class:"form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio ,class:"form-control"%>
  </div> 
  <div class="field form-group">
    <%= f.label :age %>
    <%= f.number_field :age ,class:"form-control"%>
  </div>
 </div>
 
 <div class="col-xl-6">
  <div class="field form-group">
    <%= f.label :email %>
    <%= f.text_field :email,class:"form-control" %> 
  </div>    
  <div class="field form-group">
    <%= f.label :rotten %>
    <%= f.check_box :rotten,class:"form-control" %> 
  </div>
   <div class="field form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar,class:"form-control" %> 
  </div>
    </div>  
</form>
</div>   
  <div class="actions">
    <%= f.submit class:"btn btn-success", type:"submit" %>
  </div>

</div>  
<% end %>