<%= form_for(nuevo) do |f| %>
  <% if nuevo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nuevo.errors.count, "error") %> prohibited this nuevo from being saved:</h2>

      <ul>
      <% nuevo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fuerza %>
    <%= f.number_field :fuerza %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
